.top{
    margin-top: 80px;
    margin-left: 220px;
}
.pull-left{
    font-size: 30px;
    float: left;
}
.panel .panel-body .pull-left:hover{
    text-shadow: #04A3ED;
}
.pull-right{
    font-size: 80px;
    float: right;
}
#panel1{
   border: 1px solid rgba(0, 0, 0, 0.541);

}
.panel .panel-body:hover{
    box-shadow: 0 0 2px 1px #04A3ED;

}
.nav-pills li a{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
#tab{
    margin-left: 30px;
    padding-bottom: 20px;
}
.list-group .list-group-item{
    float: left;
}
#comment :hover{
    box-shadow: 0 0 2px 1px #04A3ED;
}
