body{
    padding: 10px;
    font-family: FontAwesome;
    background-color: rgba(255, 255, 255, 0.507);
}
.public_content{
    position: relative;
    top: 50px;
}

/* --------------------------author_header----------------------------------- */
.right{
    float:right;
}
.navbar-brand{
    padding: 7px 7px;
}
.navbar-default {
    background-color: #1760a59c;
    border-color: #e7e7e7;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
.logo_img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}   
.bubble{
    background-color: rgb(243, 69, 69);
    border-radius: 50%;
    color: whitesmoke;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(0, 0, 0);
    font: 2em FontAwesome;
}
div>textarea{
    resize: none;   
}
.circle{
    border-radius: 50%;
}
/* --------------------------author_header - END----------------------------------- */

/* --------------------------author_dashboard----------------------------------- */
div a button {
        color: #000;
        background-color: #ef8400b3;
        border-color: #2e6da4;
    }

/* --------------------------Create_ news----------------------------------- */
.caption{
    text-align: center;
}
.field{
    border: 1px soild black;
}
.submit_button:hover{
    color: #000;
    background-color: rgba(58, 248, 0, 0.534);
}
.cancel_button:hover{
    color: #000;
    background-color: rgba(252, 80, 80, 0.712);
}
.submit_button{
    box-shadow: 0px 0px 10px #000;
}
.cancel_button{
    box-shadow: 0px 0px 10px #000;
}