
.top{
    margin-top: 80px;
    margin-left: 220px;
}
.atop{
    margin-top: 80px;
    
}

/* --------------------------author_dashboard----------------------------------- */
#btnn{
        color: #000;
        background-color: #ef8400b3;
        border-color: #2e6da4;
        font-size: 25px;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: #337ab7;
        font-size: 20px
    }
    .nav-pills li a{
        font-size: 20px;
        background-color: inherit;
    }
/* --------------------------Create_ news----------------------------------- */
.caption{
    text-align: center;
}
.field{
    border: 1px soild black;
}
.submit_button:hover{
    color: #000;
    background-color: rgba(58, 248, 0, 0.534);
}
.cancel_button:hover{
    color: #000;
    background-color: rgba(252, 80, 80, 0.712);
}
.submit_button{
    box-shadow: 0px 0px 10px #000;
}
.cancel_button{
    box-shadow: 0px 0px 10px #000;
}