body{
    padding: 10px;
    font-family: FontAwesome;
    background-color: rgba(255, 255, 255, 0.507);
}
.public_content{
    position: relative;
    top: 50px;
}
.img1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 145px;
    margin: 2px;

}
.right{
    float:right;
}

.views{
    position: relative;
    left: 15%;
}
.comments{
    position: relative;
    left: 50%;
}

marquee{
    font-weight: 500;
}
.bubble{
    background-color: rgb(243, 69, 69);
    border-radius: 50%;
    color: whitesmoke;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
img:hover,.content:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.title{
    margin:5px;
}
div .alink:hover{
    color: black;
    text-decoration-line: none;
}
.content{
    max-height: 50%;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius:10px; 
    margin: 10px;
}   
.comment_list{
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    padding: 5px;
}
.n_date{
float: right;    
}
div>h3{
    font: 2.5em FontAwesome;
}
textarea{
    resize: none;
}
.author{
    float: right;
    margin-right:5px; 
}
.modal button{
    background-color: rgb(102, 158, 233);
}
.marq{
    position: fixed;
}
.recent_news a{
    color: rgba(0, 0, 0, 0.527);
    font-size: 2em;
}
.recent_news a:hover{
    text-decoration-line: none;
}
/* .......................... */


.menu
{
background-color: #00547E;
border-bottom: 4px solid #04A3ED;
width:100%;
height: auto;
padding: 0 10px;
position: fixed;
margin: 0px;
z-index: 1;
}

.name{
    font-size: 40px;
    padding: 0 10px;
    color:white;
padding: 23px 35px;
    
    
}
.name:hover{
    background-color: #04A3ED;
    color:white;
	text-decoration-line: none;
    

}
